<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootsrap.css">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <div class="container"></div>
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="prod in prods" :key="prod.id">
                    <td> {{ prod.id }}</td>
                    <td> {{ prod.price }}</td>
                    <td> {{ prod.name }}</td>

                </tr>
            </tbody>
        </div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        // const { createApp } = Vue

        Vue.createApp({
            data() {
                return{
                 message : 2,
                 test : 8,
                 t : 0,
                 res : [],
                 loading : false,
                prods : null,
                chartData: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'Sales',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }]
                }}
                console.log("called on mydata");
                // return { t, test, message, res, loading, prods ,chartData}
            },
            methods: {
                mycalc() {
                    this.t = this.message + this.test;
                    console.log("called on mycalc");

                },
                myproducts() {
                    this.res.push({ "id": 1, "name": "Lema", "price": 50 });
                },
                fetchproducts() {
                    axios.get('http://127.0.0.1:5000/products')
                        .then(response => {
                            console.log("response from api ", response);
                            this.data = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                            this.loading = false;
                        });

                },
                dashboard() {
                    const ctx = document.getElementById('myChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: this.chartData,
                        options: {
                            responsive: true
                        }
                    })
                },

            },
            created() {
                console.log("called on created");
                this.mycalc();
                this.myproducts();
                this.fetchproducts();
            },
            mounted() {
                this.dashboard();
            }
        }).mount('#app')
    </script>
    <!-- more code -->
</body>

</html>